body {
    background-image: url("media/backgroundZ.jpg");
}
.HomePage {
    margin-top: 30px;
}
.inputBox {
    background-color: aqua;
    width: 500px;
    margin-left: auto;
    margin-right: 450px;
    padding: 20px;
}
.card {
    margin-top: 30px;
    margin-left: auto;
    margin-right: 420px;
}
.signWheel {
    margin-top: 20px;
    margin-left: 200px;
}
.top-heading {
    background-color:black;
    padding: 30px;
    margin-top: 40px;
    margin-right: 400px;
    margin-left: 100px;
    border-radius: 40px;
}
.top-head {
    margin-left: 35px;
    font-size: 40px;
    font-family: Papyrus,fantasy;
    color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
}
.sideList {
    position: absolute;
    margin-left: 190px;
    height: 520px;
    width: 200px;
    border-radius: 8px;
    
}
.zodiac {
    position: relative;
    height: 32px;
    width: 170px;
    margin-top: 10px;
    margin-left: 17px;
    border-radius: 4px;
}
.zodiacBtn {
    width: 150px;
    border-radius: 7px;
    background-color: burlywood;
}
.zodiacBtn:hover{
    background-color:ivory;
    width: 180px;
}